@{
    ViewData["Title"] = "Home Page";
}


@model HomeVM

<div class="fontheader-bg-two header-bg-two-owl">
    <div class="container-fluid p-0">
        <div class="header-container position-relative p-tb-100">
            <div class="header-page-shape">
                <div class="header-page-shape-item wow animate__rollIn" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img src="assets/images/header-shape-7.png" alt="shape">
                </div>
                <div class="header-page-shape-item wow animate__slideInRight" data-wow-duration="1.5s" data-wow-delay="0.5s">
                    <img src="assets/images/header-shape-3.png" alt="shape">
                </div>
                <div class="header-page-shape-item wow animate__slideInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img src="assets/images/header-shape-1.png" alt="shape">
                </div>
                <div class="header-page-shape-item wow animate__slideInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img src="assets/images/header-shape-6.png" alt="shape">
                </div>
            </div>
            <div class="header-carousel-two owl-carousel owl-theme">
                @foreach (var item in Model.Sliders)
                {
                    <div class="item">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-12 col-lg-4 pb-30 order-2 order-lg-1">
                                <div class="header-carousel-image mx-auto me-lg-0 header-2-image-sm">
                                    <img style="min-width: 500px;" src="@item.PhotoUrl" alt="header">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-8 pb-30 order-1 order-lg-2">
                                <div class="header-carousel-text text-center text-lg-start max-885 ms-lg-0 mx-auto">
                                    <h1>@item.SliderTitle</h1>
                                    <div class="header-2-caption-shape">
                                        <div class="header-content-subtitle">
                                            <p class="header-subtitle-name">
                                                @item.MenuItem1 <span>+</span> @item.MenuItem2 <span>+</span> @item.MenuItem3 <span>=</span>
                                            </p>
                                            <p class="header-subtitle-price">
                                                Only
                                                <span><small>$</small>@item.MenuPrice</span>
                                            </p>
                                            <div class="header-content-cart">
                                                <div class="header-cart-button">
                                                    <a href="#"><i class="icofont-plus"></i></a>
                                                </div>
                                                <div class="header-cart-text">Add To Cart</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }




            </div>
        </div>
    </div>
</div>


<div class="quick-section bg-overlay-1 pt-100 pb-70 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 pb-30">
                <div class="quick-item bg-main">
                    <div class="quick-item-image">
                        <div class="quick-item-image-shape bg-yellow translatey-min-10"></div>
                        <div class="image-position image-position-lb-50">
                            <img src="assets/images/quick-item-1.png" alt="quick-item">
                        </div>
                    </div>
                    <div class="quick-item-text">
                        <h3 class="color-white">Crispy Hot <br> Chicken Burger</h3>
                        <h4 class="color-white">Start At <span>$5.50</span></h4>
                        <a href="#" class="btn btn-white btn-small">Order Now <i class="flaticon-shopping-cart-black-shape"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 pb-30">
                <div class="quick-item bg-yellow">
                    <div class="quick-item-image">
                        <div class="quick-item-image-shape bg-main translatey-min-10"></div>
                        <div class="image-position image-position-lb-30">
                            <img src="assets/images/quick-item-2.png" alt="quick-item">
                        </div>
                    </div>
                    <div class="quick-item-text">
                        <h3 class="color-white">Cheesy Hot <br> Yummy Pizza</h3>
                        <h4 class="color-white">Start At <span>$5.50</span></h4>
                        <a href="#" class="btn btn-white btn-small">Order Now <i class="flaticon-shopping-cart-black-shape"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="combo-section pt-100 pb-70 bg-off-white">
    <div class="container">
        <div class="section-title section-title-default">
            <small>Combos</small>
            <h2>Our Best Combos To Choose</h2>
        </div>
        <div class="row">
            @{
                var combo = 1;
            }
            @foreach (var item in Model.Combos)
            {
                <div class="col-sm-12 col-lg-6 wow animate__slideInUp" data-wow-duration="1s" data-wow-delay="0.1s">
                    <div class="combo-box-two">
                        <div class="combo-two-pos-title">
                            Combo@(combo)
                        </div>
                        <div class="combo-image-two">
                            <img src="@item.PhotoUrl" alt="combo">
                        </div>
                        <div class="combo-two-text">
                            <h3>@item.Title</h3>
                            <div class="d-flex">
                                <a pro-id="@item.Id" class="btn btn-border btn-small cart-btn">
                                    Order Now <i class="flaticon-shopping-cart-black-shape"></i>
                                </a>
                                <a href="/product/details/@item.Id" class="btn btn-border btn-small">
                                    Go Details
                                </a>
                            </div>

                        </div>
                        <div class="combo-offer-shape combo-offer-shape-red">
                            <div class="combo-shape-inner">
                                <small>Only At</small>
                                <p>$@item.Price</p>
                            </div>
                        </div>
                    </div>
                </div>
                combo++;
            }

        </div>
    </div>
</section>


<section class="service-section pt-100 pb-70 bg-main bg-overlay-transparent">
    <div class="container">
        <div class="section-title">
            <h2 class="color-white">We Offer 3 Kinds Of Services</h2>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 pb-30">
                <div class="service-item">
                    <div class="service-image">
                        <img src="assets/images/service-1.jpg" alt="service">
                    </div>
                    <div class="service-content">
                        <h3>1. Dine In</h3>
                        <p>Choose Your Best Combos From The Thousands Of Exciting Items.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 pb-30">
                <div class="service-item">
                    <div class="service-image">
                        <img src="assets/images/service-2.jpg" alt="service">
                    </div>
                    <div class="service-content">
                        <h3>2. Take Away</h3>
                        <p>Choose Your Best Combos From The Thousands Of Exciting Items.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 pb-30 offset-md-3 offset-lg-0">
                <div class="service-item">
                    <div class="service-image">
                        <img src="assets/images/service-3.jpg" alt="service">
                    </div>
                    <div class="service-content">
                        <h3>3. Home Delivery</h3>
                        <p>Choose Your Best Combos From The Thousands Of Exciting Items.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="menu-section-bg menu-section-light pt-100 pb-70">
    <div class="container position-relative">
        <div class="section-title section-title-default">
            <small>Menu</small>
            <h2>Just Choose From The Best</h2>
        </div>
        <div class="menu-main-carousel-area">

            <div class="menu-main-thumb-nav">
                @foreach (var item in Model.Categories)
                {
                    <div class="menu-main-thumb-item menu-main-thumb-item-two">
                        <div class="menu-main-thumb-inner">
                            <i style="font-size: 30px;" class="@item.CategoryIcon"></i>
                            <p>@item.CategoryName</p>
                        </div>
                    </div>
                }


            </div>


            <div class="menu-main-details-for">
                @foreach (var category in Model.Categories)
                {
                    <div class="menu-main-details-item">
                        <div class="menu-details-carousel">

                            @foreach (var item in Model.Products.Where(x => x.CategoryId == category.Id))
                            {
                                <div class="menu-details-carousel-item">
                                    <h3>@item.Name</h3>
                                    <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
                                    <h4 class="menu-price">$12.99</h4>
                                    <a href="#" class="btn btn-yellow">
                                        Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
                                    </a>
                                    <div class="menu-details-carousel-image menu-details-carousel-image-two">
                                        <img src="@item.PhotoUrl" alt="menu">
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }

            </div>


        </div>
    </div>
</section>


<section class="receipe-section pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="section-title section-title-left d-flex justify-content-between text-center text-md-start flex-column flex-md-row flex-md-nowrap">
                    <h2>Top Pizza Of Our Shop</h2>
                    <a href="shops-grid.html" class="btn full-height ms-auto m-md-0">See All Products</a>
                </div>
                <div class="receipe-grid">
                    @foreach (var item in Model.Pizza)
                    {
                        <div class="receipe-item pb-30">
                            <div class="receipe-item-inner">
                                <div class="receipe-image">
                                    <img src="@item.PhotoUrl" alt="receipe">
                                </div>
                                <div class="receipe-content">
                                    <div class="receipe-info">
                                        <h3><a href="/product/details/@item.Id">@item.Name</a></h3>
                                        <h4>
                                            @if (item.Discount != null && item.Discount > 0)
                                            {
                                                <span>$@item.Discount</span>
                                                <del>$@item.Price</del>

                                            }
                                            else
                                            {
                                                <span>&nbsp; $@item.Price</span>
                                            }
                                        </h4>
                                    </div>
                                    <div class="receipe-cart">
                                        <a pro-id="@item.Id" href="#">
                                            <i class="flaticon-supermarket-basket"></i>
                                            <i class="flaticon-supermarket-basket"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 offset-md-4 offset-lg-0 pb-30">
                <div class="food-ad">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <h4>@Model.Order.OrderTitle1</h4>
                            <h5>@Model.Order.OrderTitle2</h5>






                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12">


                            <div class="bobo">

                                <div class="static-pl">
                                    <h6 class="ord-1">Order Now, Ring on the phone!</h6>

                                </div>

                                <div style="margin-left: 160px;" class="social-tems">
                                    <ul class="social-list social-list-white">
                                        <li><a href="#"><i style="font-size: 30px;" class="flaticon-facebook"></i></a></li>
                                        <li><a href="#"><i style="font-size: 30px;" class="flaticon-twitter"></i></a></li>
                                        <li><a href="#"><i style="font-size: 30px;" class="flaticon-linkedin"></i></a></li>
                                    </ul>
                                </div>

                                <div class="photo-add-2">

                                    <h6>@Model.Order.Phone</h6>
                                </div>

                                <div class="img-fluid toto">
                                    <img width="100%" src="@Model.Order.PhotoUrl" />

                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>


<section class="team-section p-tb-100 bg-overlay-3 bg-off-white">
    <div class="container">
        <div class="section-title section-title-default">
            <small>Chefs</small>
            <h2>Who Made This Delicious Food</h2>
        </div>
        <div class="team-carousel owl-carousel owl-theme">

            @foreach (var item in Model.Chefs)
            {
                <div class="item">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img style="border-radius: 100%; width: 300px; height:280px;" src="@item.PhotoUrl" alt="client">
                            <div class="team-overlay">
                                <ul class="social-list social-list-white">
                                    <li><a href="#"><i class="flaticon-facebook"></i></a></li>
                                    <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                                    <li><a href="#"><i class="flaticon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3 class="carousel-name"><a href="team-details.html">@item.Name</a></h3>
                            <h4 class="carousel-designation">@item.Position</h4>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</section>


<section class="download-section building-shape pt-100 pb-70 bg-overlay-2">
    <div class="container position-relative">
        <div class="row align-items-center">
            <div class="col-sm-12 col-lg-7 pb-30">
                <div class="download-image-grid">
                    <div class="download-image-mobile wow animate__slideInLeft" data-wow-duration="1.3s" data-wow-delay="0.1s">
                        <div class="download-image-mobile-item">
                            <img src="assets/images/mobile-shape-1.png" alt="mobile">
                        </div>
                        <div class="download-image-mobile-item">
                            <img src="assets/images/mobile-shape-2.png" alt="mobile">
                        </div>
                    </div>
                    <div class="download-image-rider wow animate__slideInLeft" data-wow-duration="2s" data-wow-delay="0.4s">
                        <img src="assets/images/rider.png" alt="rider">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-5 pb-30 wow animate__slideInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="about-content section-title text-center text-lg-end m-0">
                    <h2 class="color-white">Download Our App & Order Online To Get Free Delivery</h2>
                    <p>We are the country's no.1 Fast food retailer with 15+ years of reputation. Country's best burger and pizza are delivered by us. We gain the satisfaction of our customers with our delicate service and extreme high food quality.</p>
                    <ul class="button-list justify-content-center justify-content-lg-end">
                        <li>
                            <a href="#" class="btn">
                                Download From
                                <i class="flaticon-playstore"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn">
                                Download From
                                <i class="icofont-brand-appstore"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="reservation-section p-tb-100">
    <div class="container position-relative">
        <div class="section-title">
            <h2 class="color-white">Make A Reservation</h2>
        </div>
        <div class="reservation-form-area">
            <form method="post">
                <div class="reservation-form reservation-form-white">



                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" placeholder="1 Person" name="person" class="form-control">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="flaticon-add-user"></i>
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="form-group">
                        <div class="input-group">
                            <input type="datetime-local" 
                                  name="reguesttime" class="form-control">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="flaticon-calendar-1"></i>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <button value="Create" type="submit" class="btn">Book A Table Now</button>
            </form>
        </div>
    </div>
</section>


<section class="gallery-section p-tb-100">
    <div class="container position-relative">
        <div class="section-title section-title-default">
            <small>Gallery</small>
            <h2>See Our Happy Moments</h2>
        </div>
        <div class="gallery-grid">
            <div class="gallery-grid-item">
                <a href="assets/images/gallery-lg-1.jpg" title="Gallery 1"><img src="assets/images/gallery-1.jpg" alt="gallery"></a>
            </div>
            <div class="gallery-grid-item">
                <a href="assets/images/gallery-lg-2.jpg" title="Gallery 2"><img src="assets/images/gallery-2.jpg" alt="gallery"></a>
            </div>
            <div class="gallery-grid-item">
                <a href="assets/images/gallery-lg-3.jpg" title="Gallery 3"><img src="assets/images/gallery-3.jpg" alt="gallery"></a>
            </div>
            <div class="gallery-grid-item">
                <a href="assets/images/gallery-lg-4.jpg" title="Gallery 4"><img src="assets/images/gallery-4.jpg" alt="gallery"></a>
            </div>
            <div class="gallery-grid-item">
                <a href="assets/images/gallery-lg-5.jpg" title="Gallery 5"><img src="assets/images/gallery-5.jpg" alt="gallery"></a>
            </div>
        </div>
        <div class="bg-shape">
            <div class="bg-shape-item">
                <img src="assets/images/shape-1.png" alt="shape">
            </div>
            <div class="bg-shape-item">
                <img src="assets/images/shape-3.png" alt="shape">
            </div>
            <div class="bg-shape-item">
                <img src="assets/images/shape-2.png" alt="shape">
            </div>
        </div>
    </div>
</section>


<section class="blog-section p-tb-100 bg-wood-shape">
    <div class="container position-relative">
        <div class="section-title section-title-default">
            <small>Blog</small>
            <h2>Read Our Latest Food News</h2>
        </div>
        <div class="row">
            @foreach (var item in Model.Blogs)
            {   <div class="col-sm-12 col-md-6 col-lg-4 pb-30 wow animate__slideInUp" data-wow-duration="1s" data-wow-delay="0.1s">
                <div class="blog-card blog-card-two">
                    <div class="blog-card-thumb">
                        <a href="blog-details.html">
                            <img src="@item.PhotoUrl" alt="blog">
                        </a>
                    </div>
                    <div class="blog-card-content">
                        <ul class="blog-entry">
                            <li><i class="flaticon-calendar-1"></i>@item.BlogDate</li>
                            <li><i class="flaticon-man-user"></i>By Admin</li>
                        </ul>
                        <h3><a href="blog-details.html">@item.BlogName</a></h3>
                        <p>@item.BlogSummary</p>
                    </div>
                </div>
            </div>  
            }    
         
          
        </div>
        <div class="text-center">
            <a href="blogs-grid-without-sidebar.html" class="btn">Explore Blog <i class="flaticon-right-arrow-2"></i></a>
        </div>
    </div>
</section>


<section class="subscribe-section mural-bg pt-100 pb-70 bg-main">
    <div class="container">
        <div class="subscribe-grid">
            <div class="subscribe-item">
                <div class="section-title text-center text-lg-start m-0">
                    <h2 class="color-white">Subscribe Our Newsletter</h2>
                    <p>Don't miss any upcoming event & Get your coupon via email.</p>
                </div>
            </div>
            <div class="subscribe-item">
                <div class="subscribe-form">
                    <form class="newsletter-form newsletter-form-white" data-bs-toggle="validator">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="email" id="emails" class="form-control" placeholder="Enter Email Address*" name="EMAIL" required autocomplete="off">
                            </div>
                            <button class="btn btn-yellow" type="submit">Subscribe <i class="flaticon-right-arrow-sketch-1"></i></button>
                        </div>
                        <div id="validator-newsletter" class="form-result color-white"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>